<div class="container" [formGroup]="formGroup">
    <br>  <p class="text-center">Affiliate Program</p>
    <hr>
    
    <div class="row justify-content-center">
    <div class="col-md-4">
    <div class="card">
    <header class="card-header">
        <a routerLink="/auth/signup" class="float-right btn btn-outline-primary mt-1">Signup</a>
        <h4 class="card-title mt-2">Login</h4>
    </header>
    <article class="card-body">
    <div>
        <div class="form-group">
            <label>Email address</label>
            <input formControlName="email" type="email" class="form-control" placeholder="">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div> <!-- form-group end.// -->
        
        <div class="form-group">
            <label>Password</label>
            <input formControlName="password" class="form-control" type="password">
        </div> <!-- form-group end.// -->  
        <div class="form-group">
            <button [disabled]="loading" [ngSwitch]="loading" (click)="login()" class="btn btn-primary btn-block">
                <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                <span *ngSwitchCase="false">Login</span>
              </button>
        </div> <!-- form-group// -->                                               
    </div>
    </article> <!-- card-body end .// -->
    
    </div> <!-- col.//-->
    
    </div> <!-- row.//-->
    
    
    </div> 
    <!--container end.//-->