<div class="row card">
    <div class="col-md-12">
        <h4 class="my-3 mx-2">Users</h4>
        <table class="table table-inverse table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Active</th>
                    <th>Blocked</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of state.users$ | async">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td><span class="badge badge-info py-2">{{user.role}}</span></td>
                        <td [ngSwitch]="user.active">
                            <span *ngSwitchCase="true" class="badge badge-success py-2">active</span>
                            <span *ngSwitchCase="false" class="badge badge-danger py-2">dormant</span>
                        </td>
                        <td>
                            <span *ngIf="!user.blocked" class="badge badge-success py-2">active</span>
                            <span *ngIf="user.blocked" class="badge badge-danger py-2">blocked</span>
                        </td>
                        <td>
                            <button (click)="blockUser(user)" [disabled]="loading===user._id" [ngSwitch]="loading===user._id" class="btn btn-danger rounded-circle">
                                <i *ngSwitchCase="false" class="fa fa-lock" aria-hidden="true"></i>
                                <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>