<div class="row card">
    <div class="col-md-12">
        <table class="table table-inverse table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Profession</th>
                    <th>Organization/work</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Date</th>
                    <th>Blocked</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let aff of state.affiliates$ | async">
                        <td>{{aff.fname}}</td>
                        <td>{{aff.lname}}</td>
                        <td>{{aff.phone}}</td>
                        <td>{{aff.email}}</td>
                        <td>{{aff.profession}}</td>
                        <td>{{aff.organization}}</td>
                        <td>{{aff.city}}</td>
                        <td>{{aff.region}}</td>
                        <td>{{aff.createdAt | date}}</td>
                        <td>
                            <span *ngIf="aff.blocked" class="badge badge-danger">blocked</span>
                            <span *ngIf="!aff.blocked" class="badge badge-success">active</span>
                        </td>
                        <td class="text-right">
                            <button (click)="block(aff)" class="btn btn-danger btn-sm"><i class="fa fa-lock" aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-sm ml-1"><i class="fa fa-bars" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>