<div class="row">
    <div class="col-md-6 card py-4">
        <h4>Edit Affiliate</h4>
        <hr>
        <form>
            <div class="form-row">
                <div class="col form-group">
                    <label>First name </label>   
                      <input type="text" class="form-control" placeholder="">
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label>Last name</label>
                      <input type="text" class="form-control" placeholder=" ">
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div> <!-- form-group end.// -->
            <div class="form-group">
                <label>Phone number</label>
                <input type="tel" class="form-control" placeholder="+233 000 000 000">
                <small class="form-text text-muted">what is your contact number.</small>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Profession</label>
                  <input type="text" class="form-control">
                </div> <!-- form-group end.// -->
                <div class="form-group col-md-6">
                  <label>Organization/work</label>
                  <input type="text" class="form-control">
                </div> <!-- form-group end.// -->
            </div> <!-- form-row.// -->
            <div class="form-group">
                    <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="option1">
                  <span class="form-check-label"> Male </span>
                </label>
                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" value="option2">
                  <span class="form-check-label"> Female</span>
                </label>
            </div> <!-- form-group end.// -->
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label>City</label>
                  <input type="text" class="form-control">
                </div> <!-- form-group end.// -->
                <div class="form-group col-md-6">
                  <label>Country</label>
                  <select id="inputState" class="form-control">
                    <option> Choose...</option>
                      <option>Uzbekistan</option>
                      <option>Russia</option>
                      <option selected="">United States</option>
                      <option>India</option>
                      <option>Afganistan</option>
                  </select>
                </div> <!-- form-group end.// -->
            </div> <!-- form-row.// -->                                     
        </form>
        <div class="form-row">
            <button class="btn btn-success">save</button>
        </div>
    </div>
</div>