<div class="row" [formGroup]="formGroup">
    <ng-container *ngIf="(state.auth$ | async)?.type===authEnum.ADMIN">
        <div class="col-md-3">
            <div class="card py-2 px-2" formGroupName="stages">
                <h4>Add Stage</h4>
                <div class="form-group">
                  <label for="">Name</label>
                  <input formControlName="name" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea formControlName="description" class="form-control" name="" id="" cols="30" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <button [disabled]="loading===settingsEnum.STAGES" [ngSwitch]="loading===settingsEnum.STAGES" (click)="saveStage()" class="btn btn-primary">
                        <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        <span *ngSwitchCase="false">Save</span>
                      </button>
                  </div>
            </div>
            <br>
            <div class="card py-2 px-2" formGroupName="stages">
                <div class="list-group">
                    <div *ngFor="let stage of state.stages$ | async" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{stage.name}}</h5>
                        <button [ngSwitch]="loading===stage._id" (click)="removeStage(stage._id)"  class="btn btn-danger rounded-circle">
                            <i *ngSwitchCase="false" class="fa fa-trash" aria-hidden="true"></i>
                            <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        </button>
                      </div>
                      <p class="mb-1">{{stage.description}}</p>
                      <small>{{stage.createdAt | date}}</small>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card py-2 px-2" formGroupName="accounts">
                <h4>Add Account Type</h4>
                <div class="form-group">
                  <label for="">Name</label>
                  <input formControlName="name" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea formControlName="description" class="form-control" name="" id="" cols="30" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <button [disabled]="loading===settingsEnum.ACCOUNTTYPES" [ngSwitch]="loading===settingsEnum.ACCOUNTTYPES" (click)="saveAccount()" class="btn btn-primary">
                        <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        <span *ngSwitchCase="false">Save</span>
                      </button>
                  </div>
            </div>
            <br>
            <div class="card py-2 px-2" formGroupName="stages">
                <div class="list-group">
                    <div *ngFor="let account of state.accounts$ | async" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{account.name}}</h5>
                        <button [ngSwitch]="loading===account._id" (click)="removeAccount(account._id)"  class="btn btn-danger rounded-circle">
                            <i *ngSwitchCase="false" class="fa fa-trash" aria-hidden="true"></i>
                            <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        </button>
                      </div>
                      <p class="mb-1">{{account.description}}</p>
                      <small>{{account.createdAt | date}}</small>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card py-2 px-2" formGroupName="user">
                <h4>Add User</h4>
                <div class="form-group">
                  <label for="">Name</label>
                  <input formControlName="name" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input formControlName="email" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="form-group">
                    <label for="">Phone</label>
                    <input formControlName="phone" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="form-group">
                    <label for="">Role</label>
                    <select class="form-control" formControlName="role" name="" id="">
                        <option value="">---</option>
                        <option *ngFor="let account of state.accounts$ | async" [value]="account.name">
                            {{account.name}}
                        </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Password</label>
                    <input formControlName="password" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <div class="form-group">
                    <button [disabled]="loading===settingsEnum.USERS" [ngSwitch]="loading===settingsEnum.USERS" (click)="saveUser()" class="btn btn-primary">
                        <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        <span *ngSwitchCase="false">Save</span>
                      </button>
                  </div>
            </div>
        </div>
    </ng-container>
    <div class="col-md-3" *ngIf="(state.auth$ | async)?.type===authEnum.AFFILIATE">
        <div class="card py-2 px-2" formGroupName="password">
            <h4>Profile</h4>
            <br>
            <ul class="list-group" *ngIf="(state.auth$ | async)?.user  as user">
                <li class="list-group-item disabled">
                    <small>Name</small>
                    <p>{{user.fname+' '+user.lname}}</p>
                </li>
                <li class="list-group-item">
                    <small>Phone number</small>
                    <p>{{ user.phone }}</p>
                </li>
                <li class="list-group-item">
                    <small>Email</small>
                    <p>{{user.email}}</p>
                </li>
                <li class="list-group-item">
                    <small>Profession</small>
                    <p>{{user.profession}}</p>
                </li>
                <li class="list-group-item">
                    <small>Organization/work</small>
                    <p>{{user.organization}}</p>
                </li>
                <li class="list-group-item">
                    <small>City</small>
                    <p>{{user.city}}</p>
                </li>
                <li class="list-group-item">
                    <small>Region</small>
                    <p>{{user.region}}</p>
                </li>
                <li class="list-group-item">
                    <small>Date created</small>
                    <p>{{user.createdAt | date}}</p>
                </li>
                <li class="list-group-item">
                    <small>Change password</small>
                    <div class="form-group">
                      <label for="">Old Password</label>
                      <input formControlName="oldpassword" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">your current password</small>
                    </div>
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input formControlName="newpassword" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">enter your new password</small>
                    </div>
                    <div class="form-row">
                        <button (click)="updateAfPassword()" class="btn btn-primary">update password</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3" *ngIf="(state.auth$ | async)?.type===authEnum.ADMIN">
        <div class="card py-2 px-2" formGroupName="password">
            <h4>Profile</h4>
            <br>
            <ul class="list-group" *ngIf="(state.auth$ | async)?.user  as user">
                <li class="list-group-item disabled">
                    <small>Name</small>
                    <p>{{user.name}}</p>
                </li>
                <li class="list-group-item">
                    <small>Email</small>
                    <p>{{ user.email }}</p>
                </li>
                <li class="list-group-item">
                    <small>Phone</small>
                    <p>{{user.phone}}</p>
                </li>
                <li class="list-group-item">
                    <small>Role</small>
                    <p class="badge badge-info py-2">{{user.role}}</p>
                </li>
                <li class="list-group-item">
                    <small>Status</small>
                    <p>{{user.active?'active':'dormant'}}</p>
                </li>
                <li class="list-group-item">
                    <small>Change password</small>
                    <div class="form-group">
                      <label for="">Old Password</label>
                      <input formControlName="oldpassword" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">your current password</small>
                    </div>
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input formControlName="newpassword" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">enter your new password</small>
                    </div>
                    <div class="form-row">
                        <button (click)="updateAdminPassword()" class="btn btn-warning">update password</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>