<div class="container" [formGroup]="formGroup">
    <br>  <p class="text-center">Lux Affiliate Program</p>
    <hr>
    
    <div class="row justify-content-center">
    <div class="col-md-4">
    <div class="card">
    <header class="card-header">
        <a routerLink="/auth/admin" class="float-right btn btn-outline-primary mt-1">Login</a>
        <h4 class="card-title mt-2">Reset Password</h4>
    </header>
    <article class="card-body">
    <div>
        <div class="form-group">
            <label>Current Password</label>
            <input formControlName="oldpassword" type="password" class="form-control" placeholder="">
        </div>
        
        <div class="form-group">
            <label>New Password</label>
            <input formControlName="newpassword" class="form-control" type="password">
        </div> 
        <div class="form-group">
            <button [disabled]="loading" [ngSwitch]="loading" (click)="reset()" class="btn btn-primary btn-block">
                <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                <span *ngSwitchCase="false">Login</span>
              </button>
        </div>                                              
    </div>
    </article>
    
    </div>
    
    </div>
    
    
    </div> 
    <!--container end.//-->