<div class="container" [formGroup]="formGroup">
    <br>  
    <p class="text-center">Lux Affiliates</p>
    <hr>
    
    <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
    <header class="card-header">
        <a routerLink="/auth/login" class="float-right btn btn-outline-primary mt-1">Log in</a>
        <h4 class="card-title mt-2">Sign up</h4>
    </header>
    <article class="card-body">
    <div>
        <div class="form-row">
            <div class="col form-group">
                <label>First name </label>   
                  <input formControlName="fname" type="text" class="form-control" placeholder="">
            </div> <!-- form-group end.// -->
            <div class="col form-group">
                <label>Last name</label>
                  <input formControlName="lname" type="text" class="form-control" placeholder=" ">
            </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
            <label>Email address</label>
            <input formControlName="email" type="email" class="form-control" placeholder="">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              <label>Phone number</label>
              <input formControlName="phone" maxlength="10" type="tel" class="form-control" placeholder="">
              <small class="form-text text-muted">what is your contact number.</small>
          </div>
          <div class="form-group col-md-6">
            <label>Gender</label>
            <select class="form-control" formControlName="gender" name="" id="">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Profession</label>
              <input formControlName="profession" type="text" class="form-control">
            </div> <!-- form-group end.// -->
            <div class="form-group col-md-6">
              <label>Organization/work</label>
              <input formControlName="organization" type="text" class="form-control">
            </div> <!-- form-group end.// -->
        </div> <!-- form-row.// -->
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>City</label>
              <input formControlName="city" type="text" class="form-control">
            </div> <!-- form-group end.// -->
            <div class="form-group col-md-6">
              <label>Region</label>
              <select formControlName="region" id="inputState" class="form-control">
                <option> Choose...</option>
                  <option *ngFor="let region of regions" [value]="region">
                    {{ region }}
                  </option>
              </select>
            </div> <!-- form-group end.// -->
        </div> <!-- form-row.// -->
        <div class="form-group">
            <label>Create password</label>
            <input  formControlName="password" class="form-control" type="password">
        </div> <!-- form-group end.// -->  
        <div class="form-group">
            <label>Confirm password</label>
            <input formControlName="confirmPassword" class="form-control" type="password">
        </div> <!-- form-group end.// -->
        <div class="form-group">
            <button [disabled]="loading" [ngSwitch]="loading" (click)="signup()" class="btn btn-primary btn-block">
              <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              <span *ngSwitchCase="false">Register</span>
            </button>
        </div> <!-- form-group// -->      
        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
    </div>
    </article> <!-- card-body end .// -->
    <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
    </div> <!-- card.// -->
    </div> <!-- col.//-->
    
    </div> <!-- row.//-->
    
    
    </div> 
    <!--container end.//-->