<div class="row card">
    <div class="col-md-12 py-4">
        <h4 class="ml-2">Leads</h4>
        <br>
        <table class="table table-inverse table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>Affiliate</th>
                    <th>Lead Name</th>
                    <th>Lead Email</th>
                    <th>Lead Description</th>
                    <th>Location</th>
                    <th>Business Type</th>
                    <th>Contact Number</th>
                    <th>Last Contact</th>
                    <th>Funnel Stage</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lead of state.leads$ | async">
                        <td>{{ lead.fullname() }}</td>
                        <td>{{lead.name}}</td>
                        <td>{{lead.email}}</td>
                        <td>{{lead.description}}</td>
                        <td>{{lead.location}}</td>
                        <td>{{lead.businessType}}</td>
                        <td>{{lead.cnumber}}</td>
                        <td>{{lead.cperson}}</td>
                        <td><span class="badge badge-info py-2">{{lead.stage}}</span></td>
                        <td>
                            <button (click)="view(lead)" class="btn btn-warning rounded-circle">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>