<div class="row my-2">
    <div class="col-md-2">
        <h4>Lead Details</h4>
    </div>
    <div class="col-md-2">
        <button (click)="edit()" class="btn btn-info">Edit</button>
    </div>
</div>
<div class="row" [formGroup]="formGroup">
    <div class="col-md-5">
        <div class="form-row card py-2 px-2">
        <ul class="list-group" *ngIf="state.selected$ | async as lead">
            <li class="list-group-item">
                <small>ID</small>
                <p><b>{{lead._id}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Created By</small>
                <p><b>{{lead.createdBy?.fname+' '+lead.createdBy?.lname}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Lead Name</small>
                <p><b>{{lead.name}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Lead Email</small>
                <p><b>{{lead.email}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Description</small>
                <p><b>{{lead.description}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Location</small>
                <p><b>{{lead.location}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Business Type</small>
                <p><b>{{lead.businessType}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Date Created</small>
                <p><b>{{lead.createdAt | date}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Date updated</small>
                <p><b>{{lead.updatedAt | date}}</b></p>
            </li>
          </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-row card py-2 px-2">
        <ul class="list-group" *ngIf="state.selected$ | async as lead">
            <li class="list-group-item">
                <small>Conact Number</small>
                <p><b>{{lead.cnumber}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Contact Person</small>
                <p><b>{{lead.cperson}}</b></p>
            </li>
            <li class="list-group-item">
                <small>Funnel Stage</small>
                <div class="form-row my-2" *ngFor="let stage of lead.stage || [];let i=index;">
                    <p class="col-md-11"><span class="badge badge-info py-2">{{stage}}</span></p>
                    <div class="col-md-1" *ngIf="(state.auth$ | async)?.type===authTypes.ADMIN">
                        <button (click)="removeStage(i)" [ngSwitch]="loading==='s'+i" class="btn btn-danger rounded-circle">
                            <i *ngSwitchCase="false" class="fa fa-trash" aria-hidden="true"></i>
                            <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <p>Assigned</p>
                <br>
                <div *ngFor="let assign of lead.assigned" class="form-row">
                    <div class="col-md-11">
                        <span class="badge badge-warning py-2">{{assign.name}}</span>
                    </div>
                    <div class="col-md-1" *ngIf="(state.auth$ | async)?.type===authTypes.ADMIN">
                        <button [ngSwitch]="loading===assign._id" (click)="removeAssigned(assign._id)" class="btn btn-danger rounded-circle">
                            <i *ngSwitchCase="false" class="fa fa-trash" aria-hidden="true"></i>
                            <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <small>Notes</small>
                <div class="form-row my-3" *ngFor="let note of lead.notes || [];let i=index">
                    <p class="bg-yellow col-md-11">
                        {{note}}
                    </p>
                    <div class="col-md-1" *ngIf="(state.auth$ | async)?.type===authTypes.ADMIN">
                        <button [ngSwitch]="loading==='n'+i" (click)="removeNote(i)" class="btn btn-danger rounded-circle">
                            <i *ngSwitchCase="false" class="fa fa-trash" aria-hidden="true"></i>
                            <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </li>
          </ul>
        </div>
    </div>
    <div class="col-md-3" *ngIf="(state.auth$ | async)?.type===authTypes.ADMIN">
        <div class="form-row card py-2 px-2" formGroupName="notes">
            <h5 class="my-4 ml-2">Add Notes</h5>
            <div class="form-group">
              <label for="">notes</label>
              <textarea formControlName="notes" class="form-control" name="" id="" rows="3"></textarea>
            </div>
            <div class="form-row px-2">
                <button (click)="addNotes()" class="btn btn-primary">save</button>
            </div>
        </div>
        <br>
        <div class="form-row card py-2 px-2" formGroupName="assigned">
            <h4 class="my-4">Assign Personel</h4>
        <div class="form-group">
          <label for="">choose personel</label>
          <select formControlName="assigned" class="form-control" name="" id="">
              <option value=""></option>
              <option *ngFor="let user of state.users$ | async" [value]="user._id">
                  {{user.name}}
              </option>
          </select>
        </div>
        <div class="form-row px-2">
            <button (click)="assign()" class="btn btn-primary">assign</button>

        </div>
        </div>
        <br>
        <div class="form-row card py-2 px-2" formGroupName="stage">
            <h4 class="my-4">Set Lead Stage</h4>
        <div class="form-group">
          <label for="">choose stage</label>
          <select formControlName="stage" class="form-control" name="" id="">
              <option value="">---</option>
              <option *ngFor="let stage of state.stages$ | async" [value]="stage.name">
                  {{stage.name}}
              </option>
          </select>
        </div>
        <div class="form-row px-2">
            <button (click)="saveStage()" class="btn btn-primary">save</button>
        </div>
        </div>
    </div>

    
</div>