<app-leadform [data]="state.selected$ | async" (onData)="onChange($event)"></app-leadform>
<button [disabled]="loading" (click)="update()" class="btn btn-primary">
    <span *ngIf="!loading">update</span>
    <i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</button>