<div class="row py-3" [formGroup]="formGroup">
    <div class="col-md-4 card">
        <h4 class="my-2">Create Lead</h4>
        <div class="form-group">
          <label for="">Lead Name</label>
          <input formControlName="name" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Help text</small>
        </div>
        <div class="form-group">
            <label for="">Lead Email</label>
            <input formControlName="email" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
          </div>
          <div class="form-group">
            <label for="">Lead Description</label>
            <input formControlName="description" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
          </div>
          <div class="form-group">
            <label for="">Location</label>
            <input formControlName="location" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
          </div>
          <div class="form-group">
            <label for="">Business Type</label>
            <input formControlName="businessType" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
          </div>
          <div class="form-group">
            <label for="">Contact Number</label>
            <input formControlName="cnumber" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
          </div>
          <div class="form-group">
            <label for="">Contact Person</label>
            <input formControlName="cperson" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
          </div>
          <div class="form-row">
            <button [disabled]="loading" [ngSwitch]="loading" (click)="save()" class="btn btn-primary my-2">
                <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                <span *ngSwitchCase="false">Save</span>
              </button>
          </div>
    </div>
</div>